
@{
    ViewBag.Title = "KetThucGiaoNhan";
}
 
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kết thúc phiếu</h3>
                        @if (ViewBag.Check == false)
                        {
                            <a class="float-right btn btn-sm btn-danger" onclick="ketthucluot()">
                                Kết thúc lượt
                            </a>
                        }
                        else
                        {
                            @*<a class="float-right btn btn-sm btn-danger" onclick="ketthucluot()" style="pointer-events:none;">
                                Kết thúc lượt
                            </a>*@
                        }

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">
                            @*<div class="form-group">
                                <label>Chọn Thẻ Tài</label>
                                <select id="slKetThucGiaoNhan" class="form-control" onchange="slChange()">
                                    @if (Model != null)
                                    {
                                        foreach(var item in Model)
                                        {
                                            <option value="@item.Code">@item.Code</option>
                                        }
                                    }
                                </select>
                            </div>*@
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="10%">Ngày tạo</th>
                                            <th style="width:40%">
                                                Mã phiếu
                                            </th>
                                            <th width="20%">
                                                Trạng thái
                                            </th>
                                            <th>
                                                Thời gian
                                            </th>
                                            <th>
                                                Ghi chú
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expleHuyphieu">Hủy phiếu</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control currency" style="width:100%;min-width: 100%;" placeholder="Tiền phát sinh" id="TienPhatSinh" />
                </div>
                <div class="form-group">
                    <input class="form-control currency" style="width:100%;min-width: 100%;" placeholder="Km phát sinh" id="SoKMPhatSinh" />
                </div>
                <div class="form-group">
                <textarea rows="3" style="width:100%;min-width:100%" class="form-control" placeholder="Ghi chú..." id="txtReason"></textarea>
                </div>
                <div class="modal-footer">
                    <button onclick="UpdateCancle()" type="button" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loaddata();
        //$(".currency").on('keyup', function () {
        //    var n = parseInt($(this).val().replace(/\D/g, ''), 10);
        //    $(this).val(n.toLocaleString("en-US"));
        //});
    });
    function loaddata() {
        var param = {
            "MaThe": '@ViewBag.accountID'
        }
        $.ajax({
            url: '/TheTai/LoadKetThuc',
            type: 'POST',
            dataType: 'html',
            data:param,
            success: function (data, status, xhr) {
                $("#tbody").html(data);
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function slChange() {
        loaddata();
    }
    var slId = 0;
    var type = 0;
    function UpdateCancle() {
      
        var param = {
            "TheTaiChiTietID": slId,
            "Description": $("#txtReason").val(),
            "Type": type,
            "TienPhatSinh": $("#TienPhatSinh").val(),
            "SoKMPhatSinh": $("#SoKMPhatSinh").val()
        }
        $.ajax({
            url: '/TheTai/UpdateCancle',
            type: 'POST',
            dataType: 'html',
            data: param,
            success: function (data, status, xhr) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }

    function ketthucluot() {
       
        $.ajax({
            url: '/TheTai/CapNhatLuotVe',
            type: 'POST',
            dataType: 'html',
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
</script>