
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <span>Giao nhận</span>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giao nhận</li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    @*<div class="card-header text-right" >

                        </div>*@
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-1">
                                        <label class="mapx" for="exampleInputEmail1">Mã</label>
                                    </div>
                                    <div class="col-10 col-md-3 col-lg-3">
                                        <input inputmode="none" onchange="ScanNext()" type="text" class="form-control" id="txtScan" style="display:inline-block;margin-left:20px;" />
                                    </div>
                                    <div class="col-7 text-left">
                                        <div id="lstRad" class="text-left">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>
                                                Thẻ tài
                                            </th>
                                            <th>
                                                Phiếu xuất
                                            </th>
                                            <th>
                                                Tổng số lượng
                                            </th>
                                            <th>
                                                Bắt đầu
                                            </th>
                                            <th>
                                                Kết thúc làm hàng
                                            </th>
                                            <th class="columnDisplay">
                                                Tổng thời gian
                                            </th>
                                            @if (ViewBag.Type == 2)
                                            {
                                                <th>
                                                    Số lượng
                                                </th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>

    var lstRadTheTai = [];
    var firtsload = true;
    $(document).ready(function () {
        // getDatenow();
        loadTracking();
        $("#txtScan").focus();

        var str = '@ViewBag.ListTheTai';
        var str1 = str.split(',');
        for (i = 0; i < str1.length; i++) {
            if (str1[i] != '') {
                lstRadTheTai.push(str1[i]);
            }
        }
        $("#lstRad").hide();
        loadcontrol();
        if (lstRadTheTai != null) {
            slThetai = lstRadTheTai[0];
        }
    });
    function getDatenow() {
        var today = new Date();
        var date = today.getHours() + "-" + today.getMinutes() + "-" + today.getSeconds() + " | " + today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        $("#currentTime").html('<i style=\"margin-right:10px;\" class=\"fas fa-clock\"></i>' + "    " + date);
        setInterval(function () { getDatenow() }, 1000);
    }
    function ScanNext() {
        InsertData();
        $("#txtScan").focus();
    }
    $("#txtScan").focusout(function () {
        $("#txtScan").focus();
    });

    function loadTracking() {
        $.ajax({
            url: '/TheTai/LoadTheTai',
            type: 'POST',
            dataType: 'html',
            success: function (data, status, xhr) {
                $("#tbody").html(data);
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function InsertData() {
        if (slThetai == "" && $("#txtScan").val().includes("-L") && lstRadTheTai.length > 0) {
            swal("Vui lòng chọn thẻ tài");
        }
        var param = {
            "MaThe": $("#txtScan").val()
        }
        $.ajax({
            url: '/TheTai/Insert',
            type: 'POST',
            dataType: 'html',
            data: { "data": JSON.stringify(param), "MaTheSL": slThetai },
            success: function (data, status, xhr) {
                if (data == 2) {
                    swal("Chưa quét phiếu xuất!");
                }
                if (data == 5) {
                    swal("Phiếu này đã quét!");
                }
                if (data == 5) {
                    swal("Lượt quét đã kết thúc!");
                }
                if (data == 3) {
                    swal({
                        title: "Quét mã", text: "Mã không tồn tại trong hệ thống!", type:
             "success"
                    }).then(function () {
                    }
);
                }
                if (data == 1) {
                    var chk = lstRadTheTai.includes($("#txtScan").val());
                    if (chk == false) {
                        if ($("#txtScan").val().includes("GN")) {
                            lstRadTheTai.push($("#txtScan").val());
                        }
                        loadcontrol();
                        if (firtsload == true) {
                            slThetai = lstRadTheTai[0];
                            firtsload = false;
                        }
                    }
                    loadTracking();
                }
    
                $("#txtScan").val('');
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function loadcontrol() {

        $("#lstRad").empty();
        if (lstRadTheTai.length > 0) {
            $("#lstRad").show();
        }
        var j = 0;
        for (i = 0; i < lstRadTheTai.length; i++) {
            var hmtl = "<a onclick='choseTheTai(this)' style='cursor:pointer'></span> <input id=\"ip_"+i+"\" type=\"radio\"  name=\"radControl\"/>" + "<i style='margin-left:5px;margin-right:3px;'  class='fas fa-id-card'></i><span>" + lstRadTheTai[i] + "</span></a>";
            $("#lstRad").append(hmtl);
        }
        $("#ip_" + idsl).prop("checked",true);
    }
    var slThetai = "";
    var idsl = 0;
    function choseTheTai(dis) {
        var child = $(dis).find("input");
        child.prop("checked", true);
        var childspan = $(dis).find("span");
        slThetai = childspan.html();
        idsl = $(dis).find("input").attr("id").replace("ip_","");
    }
</script>
<style>
   #lstRad {
    position: relative;
    left: 25px;
    top: 3px;
    padding: 3px 18px;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 28%);
    border-radius: 2px;
}

        #lstRad input {
            margin-right: 5px;
        }

        #lstRad span {
            margin-right: 30px;
        }
</style>