<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê phiếu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê phiếu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    @*<div class="card-header text-right" >

                        </div>*@
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="exampleInputEmail1">Chọn thời gian  </label>
                                        <input style="cursor:pointer;max-width:100%;padding-left: 39px;" type="text" class="form-control mb-mg-20" id="daterange" name="daterange" value="01/01/2018 - 01/15/2018" />
                                        <i class="fas fa-calendar" style="position: absolute;left: 17px;top: 43px;"></i>
                                    </div>

                                    <div class="col-sm-2">
                                        <div id="slTheTai">
                                            <label for="User name">Trạng thái phiếu</label>
                                            <select class="form-control" style="max-width:100%"  id="sltrangthai">
                                                <option  value="0">Tất cả</option>
                                                <option value="1">Đã giao</option>
                                                <option value="2">Chưa giao</option>
                                            </select>

                                        </div>

                                    </div>
                                    <div class="col-sm-3 text-left">
                                        <a style="margin-top:35px;" onclick="reportGiaoNhan()" class="btn btn-sm btn-danger"><i class="fas fa-filter"></i> Lọc</a>
                                        @*<a id="exportToExcel" style="margin-top:35px;" onclick="ExportExcel()"   class="btn btn-sm btn-success"><i class="fas fa-file-excel"></i> Export Excel</a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group table-responsive" id="contents">

                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    $(document).ready(function () {
       
    });
    function changePermission() {

        var param = {
            "PermissionID": $("#slPermission").val()
        }
        $.ajax({
            url: '/Report/LoadUserByPermission',
            dataType: 'html',
            type: 'POST',
            data: param,
            dataType: 'html',
            success: function (data, status, xhr) {
                $("#slUser").html(data);
                if ('@ViewBag.PermissionID' != 1) {
                    $("#slUser").val('@ViewBag.UserID').change();
                }

            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    function reportGiaoNhan() {
        var date_range = $("#daterange").val();
        var dates = date_range.split(" - ");
        var currentTime = new Date();
        var start = dates[0];
        var end = dates[1];
        $(".boxloading").show();
        var param = {
            "fromDate": start,
            "toDate": end ,
            "Status": $("#sltrangthai").val()
        }
        $.ajax({
            url: '/Report/ThongkephieuData',
            dataType: 'html',
            type: 'POST',
            data: param,
            dataType: 'html',
            success: function (data, status, xhr) { 
                $("#contents").html(data);
                $(".boxloading").hide();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }

    //function chonthetai() {

    //    reportGiaoNhan();
    //}
</script>