<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê quãng đường</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê quãng đường</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    @*<div class="card-header text-right" >

                        </div>*@
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="User name">Xe</label>
                                        <select class="form-control" id="slCar" style="max-width:100%;padding-left: 39px;">
                                            @if (ViewBag.Listcar != null)
                                            {
                                                <option value="0">Tất cả</option>
                                                foreach (var item in ViewBag.Listcar)
                                                {
                                                    <option value="@item.IDCar">
                                                        @item.CarSignal
                                                    </option>
                                                }
                                            }
                                        </select>
                                        <i class="fas fa-car" style="position: absolute;left: 17px;top: 43px;"></i>
                                    </div>
                                    <div class="col-sm-3 text-left">
                                        <a style="margin-top:35px;" onclick="reportDichVu()" class="btn btn-sm btn-danger"><i class="fas fa-filter"></i> Lọc</a>
                                        @*<a id="exportToExcel" style="margin-top:35px;" onclick="ExportExcel()"   class="btn btn-sm btn-success"><i class="fas fa-file-excel"></i> Export Excel</a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group table-responsive" id="contents" style="    overflow-y: scroll;
    height: 363px;">

                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    $(document).ready(function () {
        $("#tm2").hide();
        ActiveDate();
    });

    function reportDichVu() {
      
        $(".boxloading").show();
        var param = { 
            "Idcar": $("#slCar").val()
        }
        $.ajax({
            url: '/Report/ThongKeQuangDuongData',
            dataType: 'html',
            type: 'POST',
            data: param,
            dataType: 'html',
            success: function (data, status, xhr) {
                $("#contents").html(data);
                $(".boxloading").hide();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
    var typeDate = 1;
    function ActiveDate() {
        var dayCurrent = new Date();
        var monthCurrent = dayCurrent.getMonth() + 1;
        $("#slMonth").val(monthCurrent).change();
    }
    function sltypedate() {
        typeDate = $("#slTypeDate").val();
        if (typeDate == 1) {
            $("#tm2").hide();
            $("#tm1").show();
        }
        else {
            $("#tm2").show();
            $("#tm1").hide();
        }
    }
</script>