body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div#currentTime {
    display: inline-block;
    float: right;
    background-color: #3f6791;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
}

#loading {
    z-index: 99999999;
    position: fixed;
    left: 50%;
    top: 30%;
}

.w100 {
    min-width: 100%;
}

input.form-control.form-control-sm {
    min-width: auto;
}

.reportDetail {
    background-color: white;
    width: 85%;
    margin: 0px auto;
    margin-top: 5%;
    position: relative;
    padding: 25px 30px;
}

.reportDetailTitle {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.reportclose {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 15px;
}

    .reportclose a {
        background-color: #212529;
        padding: 5px 10px;
        color: white;
    }

    .reportclose i {
        color: white;
    }

.shadow {
    overflow-y: scroll;
}

.thongkect_title {
    display: block;
    background-color: #262626;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
    margin-bottom: 10px;
}

.columnDisplay {
    display: revert;
}

.table_margin {
    margin-top: 30px;
}

.btn_taodon {
    margin-top: 38px;
}

.label_title {
}

.mapx {
    position: relative;
    top: 7px;
}

.trackingcode {
    color: #177823;
    font-weight: bold;
}



.txtPhieu {
    color: #177823;
}

.tootip_box {
    background-color: #333;
    padding: 3px 12px;
    font-size: 13px;
    position: absolute;
    top: -20px;
}

#lstRad span {
}

.hinhthucnhap {
}

.hinhthucnhap_checkbox {
    margin-right: 10px;
}

.tdProductName {
    width: 30%;
}

.input100 {
    width: 100%;
    min-width: 100%;
}

.ulRole {
    margin: 0px;
    padding: 0px;
}

    .ulRole li {
        display: block;
    }

    .ulRole input {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .ulRole span {
    }

    .ulRole strong {
    }

    .ulRole a {
        cursor: pointer;
    }

.tkct_title {
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: capitalize;
}

@media only screen and (max-width: 640px) {
    .modal-dialog {
        max-width: 90% !important;
        margin: 1.75rem auto;
    }

    .tdProductName {
        width: auto;
    }

    .trangthaigiao {
        font-size: 12px;
        width: 50px;
        display: inline-block;
    }

    .kethucphieu {
        font-size: 12px;
    }

    .mapx {
    }

    .label_title {
        margin-top: 10px;
    }

    .table_margin {
        margin-top: 10px;
    }

    .btn_taodon {
        margin-top: 20px;
    }

    .content-header {
        visibility: hidden;
        height: 0px;
    }

    .content {
        margin-top: 0px;
    }

    .columnDisplay {
        display: none;
    }

    #tbHistory th {
        font-size: 12px;
    }

    #tbHistory td {
        font-size: 12px;
    }

    .mb-mg-20 {
        margin-bottom: 10px;
    }
}

.ipmw {
    min-width: 100%;
}

.car-img {
    width: 100%;
    background-color: #838383;
}

.car_box {
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
    padding: 10px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.mathetai {
    background-color: #dc3545;
    color: white;
    padding: 1px 7px;
    font-size: 11px;
    margin-left: 6px;
    display: inline-block;
    border-radius: 2px;
}

.tentaixe {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
}

.cartitle {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, 6px);
    background-color: #333;
    color: white;
    font-size: 15px;
    padding: 0px 11px;
    border-left: 5px solid #fd7e14;
}

.typecarname {
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 23px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #4a4a4a;
    color: white;
    padding: 5px 55px;
    display: inline-block;
    border-left: 5px solid #dc3545;
}


.roadbox {
    background-image: url('../Images/road.png');
    height: 83px;
    background-position: center;
    background-size: contain;
    margin-bottom: 25px;
}

.car_move {
}

    .car_move img {
        width: 133px;
        position: relative;
        left: 0px;
        top: -14px;
    }

.qlqd_box {
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
    text-align: center;
    margin-bottom: 20px;
    border-top: 4px solid #f3f3f3;
    cursor: pointer;
}

qlqd_img {
}

.qlqd_img img {
}

.qlqd_signal {
    font-weight: bold;
    font-size: 14px;
    color: #111;
}

.qlqd_tentx {
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: bold;
}

.chosecar .qlqd_box {
    border-top: 4px solid #dc3545 !important;
}

.divimage {
    text-align: center;
    background-color: #1c1c1c;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.qlbd_title {
    margin-bottom: 10px;
    margin-top: 20px;
}

    .qlbd_title h3 {
        font-size: 15px;
        font-weight: bold;
    }
   #kmhientai {
    color: white;  
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 2px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey,1px 1px 2px black;
}
    #dinhmuckm{
         color: white;  
    letter-spacing: 0.1em;
    transition: 0.3s;
        text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 2px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey, 1px 1px 0 grey,1px 1px 2px black;

    }
  .qlqd_sokm {
    font-size: 13px;
    font-weight: bold;
    padding: 2px 0px;
    color: #28a745;
}