
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @if (ViewBag.ListMN != null)
        {
            foreach (var item in ViewBag.ListMN)
            {
                <li class="nav-item">
                    <a href="@item.MenuURL" class="nav-link">
                        <i class="nav-icon @item.Icon "></i>
                        <p>
                            @item.MenuName
                        </p>
                    </a>
                </li>
            }
        }
        @if (ViewBag.AccountUser == "minhtn")
        {
            <li class="nav-item">
                <a href="/sap-xep-giao-nhan" class="nav-link">
                    <i class="nav-icon"></i>
                    <p>
                       Sắp xếp giao nhận
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Quản lý bảo dưỡng
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/quan-ly-tai-xe" class="nav-link">
                            <i class="fas fa-users-cog" style="margin-right:10px;"></i> <p>Quản lý tài xế</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/quan-ly-loai-xe" class="nav-link">
                            <i class="fas fa-car-side" style="margin-right:10px;"></i> <p>Quản lý loại xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/quan-ly-xe" class="nav-link">
                            <i class="fas fa-car" style="margin-right:10px;"></i> <p>Quản lý xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/quan-ly-chi-phi" class="nav-link">
                            <i class="fas fa-money-bill" style="margin-right:10px;"></i> <p>Quản lý chi phí</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/quan-ly-bao-tri" class="nav-link">
                            <i class="fas fa-road" style="margin-right:10px;"></i> <p>Quản lý quãng đường</p>
                        </a>
                    </li>
                    <li>
                        <a href="/thong-ke-chi-phi" class="nav-link">
                            <i class="fas fa-money-bill" style="margin-right:10px;"></i>  <p>Thống kê chi phí</p>
                        </a>
                    </li>
                    <li>
                        <a href="/thong-ke-bao-tri" class="nav-link">
                            <i class="fas fa-road" style="margin-right:10px;"></i> <p>Thống kê quãng đường</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @*<li class="nav-item">
            <a href="/import-excel" class="nav-link">
                <i class="nav-icon fas fa-th-list "></i>
                <p>
                    Import Excel
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/lich-su" class="nav-link">
                <i class="nav-icon fas fa-th-list "></i>
                <p>
                    Lịch sử
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/thong-ke" class="nav-link">
                <i class="nav-icon fas fa-th-list "></i>
                <p>
                    Thống kê
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Tracking" class="nav-link">
                <i class="nav-icon fas fa-th-list "></i>
                <p>
                    Tracking
                </p>
            </a>
        </li>*@
    </ul>
</nav>